{% extends 'base.html' %} {% block content %} {% load static %}
{% load custom_tags %}
<div class="container">
  {% if Applications %}
    <h1 class = "text-center">Your Applications</h1>
    <hr/>
    <div class = "row">
      {% for application in Applications %}
      <div class="col-lg-4 col-md-6">
        <div class="card card-margin border border-dark">
          <div class="card-body pt-4">
            <div class="widget-49">
              <div class="widget-49-title-wrapper">
                <div class="widget-49-date-primary">
                  <span class="widget-49-date-day"
                    ><img
                      src="{% static 'application.jpg' %}"
                      height="45px;"
                      width="45px;"
                  /></span>
                </div>
                <div class="widget-49-meeting-info">
                  <span class="widget-49-pro-title"
                    >{{application.recruitment_drive.recruitment_title}}</span
                  >
                  <div class="row-flex">
                    <div class="col">
                      <span class="widget-49-meeting-time">
                        {% if application.recruitment_drive.status == "Open" %}
                        {% now "Y-m-dHi" as todays_date %}
                        <span class="badge rounded-pill bg-success">Open</span>
                        {% else %}
                        <span class="badge rounded-pill bg-danger">Closed</span>
                        {% endif %}
                      </span>
                    </div>
                    <div class="col">
                      <span class="widget-49-meeting-time"
                        ><span class="badge rounded-pill bg-success"
                          >Term : {{ application.recruitment_drive.recruitment_term}}</span
                        ></span
                      >
                    </div>
                    </div>
                  </div>
                </div>
                <div class = "widget-49-meeting-points">
                  <li style = "list-style-type:none;">Last Updated : {{application.date_of_application|date:'d M Y, H:i A'}}</li>
                  <li style = "list-style-type:none;">
                    Application Status : 
                    {% if application.status == "Application under Review" %}
                      <span class="badge rounded-pill bg-primary">Under Review</span>
                    {% elif application.status == "Shortlisted for Interview" %}
                      <span class="badge rounded-pill bg-info">Shortlisted for Interview</span>
                    {% elif application.status == "Accepted" %}
                    <span class="badge rounded-pill bg-success">Accepted</span>
                    <span class="badge rounded-pill bg-success">{{application.accepted_department}}</span>
                    {% elif application.status == "Mentorship" %}
                    <span class="badge rounded-pill bg-success">Mentorship</span>
                    {% else %}
                    <span class="badge rounded-pill bg-danger">Rejected</span>
                    {% endif %}
                  </li>
                </div>
              </div>
              <div class = "widget-49-meeting-points">
                <div style="margin-top: 10px; margin-bottom: 10px">
                  <div class="accordion accordion-flush" id="accordionFlushExample{{application.slug}}">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne{{application.slug}}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne{{application.slug}}" aria-expanded="false" aria-controls="flush-collapseOne{{application.slug}}">
                          Skills and Preferences
                        </button>
                      </h2>
                      <div id="flush-collapseOne{{application.slug}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne{{application.slug}}" data-bs-parent="#accordionFlushExample{{application.slug}}">
                        <div class="accordion-body">
                          <p style = "margin-bottom:2px;">Skills</p>{% for tag in application.tags.all %}
                          <div class="d-inline-block" style="margin-bottom: 5px">
                            <span class="badge bg-success">{{tag}}</span>
                          </div>

                          {% endfor %}
                        
                          <p style = "margin-bottom:2px;">Department Preferences</p>
                          {% for department in application.department_preferences %}
                          <div class="d-inline-block" style="margin-bottom: 5px">
                            <span class="badge bg-success">{{department}}</span>
                          </div>
                          {% endfor %}
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingTwo{{application.slug}}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo{{application.slug}}" aria-expanded="false" aria-controls="flush-collapseTwo{{application.slug}}">
                          Question Responses
                        </button>
                      </h2>
                      <div id="flush-collapseTwo{{application.slug}}" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo{{application.slug}}" data-bs-parent="#accordionFlushExample{{application.slug}}">
                        <div class="accordion-body">
                          <p style = "margin-bottom:2px;">Question One</p>
                          <p>{{application.question_one|truncatechars:50}}</p>
                          {% if application.question_two %}
                          <p style = "margin-bottom:2px;">Question two</p>
                          <p>{{application.question_two|truncatechars:50}}</p>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class = "d-inline-block py-2" style = {"margin:5px;"}>
                  {% now "Y-m-dHi" as todays_date %}
                  {% if application.recruitment_drive.end_date_time|date:'Y-m-dHi' > todays_date %}
                    {% if application.user == user %}
                      <a href = "{% url 'update_application' application.slug %}" class = "btn btn-primary me-2 py-1" style = "margin-bottom:4px;"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                    {% endif %}
                  {% endif %}
                </div>
              </div>  
            </div>
            
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  <h1 class="text-center">Recruitment Drives</h1>
  <hr />
  <div class="row">
    {% if Recruitment_Drives %} {% for drive in Recruitment_Drives %}
    <div class="col-lg-4 col-md-6">
      <div class="card card-margin border border-dark">
        <div class="card-body pt-4">
          <div class="widget-49">
            <div class="widget-49-title-wrapper">
              <div class="widget-49-date-primary">
                <span class="widget-49-date-day"
                  ><img
                    src="{% static 'candidate.png' %}"
                    height="45px;"
                    width="45px;"
                /></span>
              </div>
              <div class="widget-49-meeting-info">
                <span class="widget-49-pro-title"
                  >{{drive.recruitment_title}}</span
                >
                <div class="row-flex">
                  <div class="col">
                    <span class="widget-49-meeting-time">
                      
                      {% if drive.status == "Open" %}
                      {% now "Y-m-dHi" as todays_date %}
                        {% if drive.start_date_time|date:'Y-m-dHi' > todays_date %}
                          <span class="badge rounded-pill bg-info">Opens Soon</span>
                        {% else %}
                          <span class="badge rounded-pill bg-success">Open</span>
                        {% endif %}
                      {% else %}
                      <span class="badge rounded-pill bg-danger">Closed</span>
                      {% endif %}
                    </span>
                  </div>
                  <div class="col">
                    <span class="widget-49-meeting-time"
                      ><span class="badge rounded-pill bg-success"
                        >Term : {{ drive.recruitment_term}}</span
                      ></span
                    >
                  </div>
                  </div>
                </div>
              </div>
              <div class = "widget-49-meeting-points">
                <li style = "list-style-type:none;">Department : {{drive.department}}</li>
                <li style = "list-style-type:none;"><i class="fa-solid fa-calendar-days"></i>  {{drive.start_date_time|date:'dS M Y'}} - {{drive.end_date_time|date:'dS M Y'}} </li>
                {% now "Y-m-dHi" as todays_date %}
                  {% if drive.start_date_time|date:'Y-m-dHi' > todays_date %}
                    <li style = "list-style-type:none;">Opens By : {{drive.start_date_time|date:'dS M Y, h:i A'}}</li>
                {% endif %}
                <li style = "list-style-type:none;">Closes By : {{drive.end_date_time|date:'dS M Y, h:i A'}}</li>
              </div>
              <div class = "d-inline-block py-2" style = {"margin:5px;"}>
                {% if Status %}
                  
                  <a href = "{% url 'update_recruitment' drive.id %}" class = "btn btn-primary me-2 py-1" style = "margin-bottom:4px;"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                {% endif %}
                  {% now "Y-m-dHi" as todays_date %}
                  {% if drive.status == "Closed" or drive.start_date_time|date:'Y-m-dHi' > todays_date %}
                    <a href = "{% url 'submit_application' drive.slug %}" class = "btn btn-success me-2 py-1 disabled" style = "margin-bottom:4px;"><i class="fa-solid fa-scroll"></i> Apply</a>
                  {% else  %}
                  <a href = "{% url 'submit_application' drive.slug %}" class = "btn btn-success me-2 py-1" style = "margin-bottom:4px;"><i class="fa-solid fa-scroll"></i> Apply</a>
                  {% endif %}
                  <a href = "{% url 'view_all_applications' drive.slug %}" class = "btn btn-primary me-2 py-1" style = "margin-bottom:4px;"><i class="fa-solid fa-pen-to-square"></i> View All Applications</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <h1 class="text-center">No Drives Found !!!</h1>
    {% endif %}
  </div>
  
</div>
{% endblock %}
