{% extends 'base.html' %} {% block content %} {% load static %}
<div class="container">
  <h1 class="text-center">Recruitment Drives</h1>
  <hr />
  <div class="row">
    {% if Recruitment_Drives %} {% for drive in Recruitment_Drives %}
    <div class="col-lg-4 col-md-6">
      <div class="card card-margin border border-dark">
        <div class="card-body pt-4">
          <div class="widget-49">
            <div class="widget-49-title-wrapper">
              <div class="widget-49-date-primary">
                <span class="widget-49-date-day"
                  ><img
                    src="{% static 'candidate.png' %}"
                    height="45px;"
                    width="45px;"
                /></span>
              </div>
              <div class="widget-49-meeting-info">
                <span class="widget-49-pro-title"
                  >{{drive.recruitment_title}}</span
                >
                <div class="row-flex">
                  <div class="col">
                    <span class="widget-49-meeting-time">
                      {% if drive.status == "Open" %}
                      <span class="badge rounded-pill bg-success">Open</span>
                      {% else %}
                      <span class="badge rounded-pill bg-danger">Closed</span>
                      {% endif %}
                    </span>
                  </div>
                  <div class="col">
                    <span class="widget-49-meeting-time"
                      ><span class="badge rounded-pill bg-success"
                        >Term : {{ drive.recruitment_term}}</span
                      ></span
                    >
                  </div>
                  </div>
                </div>
              </div>
              <div class = "widget-49-meeting-points">
                <li style = "list-style-type:none;">Department : {{drive.department}}</li>
                <li style = "list-style-type:none;"><i class="fa-solid fa-calendar-days"></i>  {{drive.start_date_time|date:'dS M Y'}} - {{drive.end_date_time|date:'dS M Y'}} </li>
                <li style = "list-style-type:none;">Closes By : {{drive.end_date_time|date:'dS M Y, h:i A'}}</li>
              </div>
              <div class = "d-inline-block py-2" style = {"margin:5px;"}>
                {% if Status %}
                  <a href = "{% url 'update_recruitment' drive.id %}" class = "btn btn-primary me-2 py-1" style = "margin-bottom:4px;"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                {% endif %}
                  <a href = "#" class = "btn btn-success me-2 py-1" style = "margin-bottom:4px;"><i class="fa-solid fa-scroll"></i> Apply</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <h1 class="text-center">No Drives Found !!!</h1>
    {% endif %}
  </div>
</div>
{% endblock %}
