{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class = "container">
  <section id="hero-animated" class="hero-animated d-flex align-items-center" style = "margin-top:10px;">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
      <div class = "row animated">
        <div class = "col-md-6">
          <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_agpinljl.json"  background="transparent"  speed="1"  style="width: auto; height: auto;"  loop  autoplay></lottie-player>
        </div>
        <div class = "col-md-6">
          <img src = "{% static 'Microsoft_Logo.svg' %}" style = "height:100%;width:100%;" />
      </div>
      <h2>Welcome to <span>MIC Recuirment Portal</span></h2>
      <p>Together We Learn, Together We Grow</p>
      <p class="text-center "></p>
      <div class="d-flex justify-content-center">
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn-get-started scrollto">Get Started by Signing Up</a>
      </div>
    </div>
  </section>

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container">

        <div class="row gy-4">

          <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-people-fill"></i></div>
              <h4><a href="" class="stretched-link">Join the Club</a></h4>
              <p>Join the Microsoft Innovations Club for tech exploration, idea sharing, and collaboration with like-minded individuals. Embrace technology, expand your skills, and ignite your innovation journey with us.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-compass"></i></div>
              <h4><a href="" class="stretched-link">Explore </a></h4>
              <p>Hands-on tech exploration. Gain knowledge, experience latest Microsoft advancements, and network with like-minded peers. Enhance your skills, expand your horizons. Join now.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-broadcast icon"></i></div>
              <h4><a href="" class="stretched-link">Connect</a></h4>
              <p>Connect with tech enthusiasts, and like-minded peers. Expand your network, grow your career prospects. Join now.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-app-indicator"></i></div>
              <h4><a href="" class="stretched-link">Collaborate</a></h4>
              <p>Network, gain hands-on experience, and showcase your skills. Make connections, bring your ideas to life. Join now.</p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section>


    <!-- ======= Clients Section ======= -->
  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>
  </div>
  <!-- Vendor JS Files -->
{% endblock %}