{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div class="container" style = "margin-bottom:10px;">
    <h1 class = "text-center">{{application.user.username}}'s Application</h1>
    <hr/>
    <div class = "row">
        <div class="col-lg-4 col-md-6">
            <h4 class = "text-center">User Details</h4>
            <hr/>
            
                <div class="card card-body border border-dark" style = 'margin-bottom: 15px;'>
                    <h3 class = "card-text text-center">{{application.user.username}}'s Profile</h3>
                    <hr>
                    {% if application.user.profile.avatar %}
                    <img class="rounded-circle mx-auto border border-dark" width = 100 height = 100 src="{{application.user.profile.avatar.url}}">
                    {% else %}
                    <img class="rounded-circle mx-auto border border-dark" width = 100 height = 100 src="{% static 'default.png' %}" >
                    {% endif %}
                    <br/>
                    <p class = "card-text profile-text">Username : {{application.user.username}}</p>
                    <p class = "card-text profile-text">Email : {{application.user.email|truncatechars:20}}</p>
                    <p class = "card-text profile-text">First Name : {{application.user.first_name}}</p>
                    <p class = "card-text profile-text">Reg No : {{application.user.last_name}}</p>
                    <p class = "card-text profile-text">School : {{application.user.profile.department.department_school}}</p>
                    <p class = "card-text profile-text">Department : {% if application.user.profile.department %}{{application.user.profile.department|truncatechars:20}}{% else %}Profile Under Verification{% endif %}</p>
                </div>
        </div>
        <div class="col-md-8 col-sm-7" style = "margin-bottom:10px;">
            <h4 class = "text-center">Application Details</h4>
            <hr/>
            <form method = 'POST' enctype = 'multipart/form-data'>
                {% csrf_token %}
                <div class="card card-body border border-dark">
                    <div class="row form-row">
                        <div class = "col">
                            {{form.tags|as_crispy_field}}
                            
                        </div>
                        <div class="col">
                            {{form.linkedin_url|as_crispy_field}}
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class = "col">
                            {{form.department_preferences|as_crispy_field}}
                        </div>
                        <div class="col">
                            {{form.question_one|as_crispy_field}}
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class = "col">
                            {{form.question_two|as_crispy_field}}
                        </div>
                        
                    </div>
                    <div class = "d-inline-block py-3">
                        <button type = "submit" class = "margin-bottom btn btn-success me-2 py-1">Submit</button>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
</div>
{% endblock %}